@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'opensans-light';
    src: url("./assets/fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: 'opensans-regular';
    src: url("./assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: 'opensans-medium';
    src: url("./assets/fonts/OpenSans-Medium.ttf");
}
@font-face {
    font-family: 'opensans-semibold';
    src: url("./assets/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: 'opensans-bold';
    src: url("./assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: 'opensans-extraBold';
    src: url("./assets/fonts/OpenSans-ExtraBold.ttf");
}